body {
  background: '#e6e6e6';
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #ff4b4b;
  font-size: 40px;
}

a {
  text-decoration: none;
  font-weight: bold;
}